@model SocialRichAlejandro.ViewModel.UserViewModel

@{
    ViewData["Title"] = "About";
}

<script src="~/js/User.js"></script>

<div class="row">
    <div class="col-md-6">
        <h2>Usuario</h2>
        <ul>
            @{
                <li>id: @(Model.Id) | nombre: @(Model.Name) | apellido: @(Model.Subname) | red favorita: @(Model.FavouriteNetwork.Name)</li>
                <ul>
                    <h5>Lista de Redes del usuario</h5>
                    @{
                        foreach (var network in Model.Networks)
                        {
                            <li>red social:  @(network.Name)</li>
                        }
                    }
                </ul>
            }
        </ul>
    </div>

    <div class="col-md-6 margin-top">
        <form asp-controller="User" asp-action="Edit" method="get">
            <div>
                <input class="hidden" type="text" name="id" value="@(Model.Id)" />
            </div>
            <div class="button">
                <button class="btn btn-info" type="submit">Editar</button>
            </div>
        </form>
    </div>

</div>




    @Html.ActionLink("Volver", "Index", "User", null, new { @class = "btn btn-info" })

    <script>
    var UrlGetUserData = "@(Url.Action("GetUserData", "User"))";
    var UserId = @ViewBag.UserId;
    $(document).ready(function () {
        getUserData();
    });
    </script>
