@model SocialRichAlejandro.ViewModel.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h2>Lista de Usuarios</h2>
        <ul>
            @{ 
                foreach (var user in Model.UserList) {
                    <li>id:@(user.Id) | nombre:@(user.Name) | apellido:@(user.Subname) | red favorita:@(user.favouriteNetwork)</li>
                    <ul>
                        <h5>Lista de Redes del usuario</h5>
                        @{
                            foreach (var network in user.Networks)
                            {
                                <li>red social: @(network)</li>
                            }
                        }
                    </ul>
                }
            }
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Buscar usuario</h2>
        <form action="@(Url.Action("ShowUser", "Home"))" method="post">
            <div>
                <label for="Id">Id:</label>
                <input type="number" id="Id" />
            </div>
            <div class="button">
                <button type="submit">Search</button>
            </div>
        </form>
    </div>
    <div class="col-md-3">
        <h2>Añadir usuario</h2>
        <ul>
            <form class="form-group" action="@(Url.Action("AddUser","Home"))" method="post">
                <div>
                    <label>Name:</label>
                    <input type="text" name="Name" />
                </div>
                <div>
                    <label>SubName:</label>
                    <input type="text" name="Subname" />
                </div>
                <div>
                    <label>Favourite Network:</label>
                    <select class="form-control" name="FavouriteNetwork">
                        @{
                            foreach (var socialNet in Model.SocialNetwokList)
                            {
                                <option>@(socialNet.Id)</option>
                            }
                        }
                    </select>
                </div>
                <div>
                    @{
                        foreach (var socialNet in Model.SocialNetwokList)
                        {
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" name="Netwoks" class="form-check-input" value="@(socialNet.Id)">@(socialNet.Name)
                                </label>
                            </div>
                        }
                    }
                </div>
                <div class="button">
                    <button type="submit">Search</button>
                </div>
            </form>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Run &amp; Deploy</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
        </ul>
    </div>
</div>
